<li>
  <p>
    <h3>Name:</h3>
    <%= recipe.name %>
  </p>

  <p>
    <h3>Preparation time:</h3>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <h3>Cooking time:</h3>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <h3>Description:</h3>
    <%= recipe.description %>
  </p>

  <p>
    <h3>Public:</h3>
    <%= recipe.public %>
  </p>

  <p>
    <h3>User:</h3>
    <%= recipe.user_id %>
  </p>

  <p>
    <%= link_to "Show this recipe", recipe %>
  </p>
</li>